.menu-bg {
	background: $Bg-home;
	transition: .5s;
	width: 100%;
	padding: 5px 0;
	// position: fixed;
	z-index: 1000;
}

.menu-logo img{
	width: 79px;
	height: 105px;
}	

@include responsive-notebook(){
	.menu-logo {
		width: 100px;
	}	
}

.menu {
	margin: 0 auto;
	padding: 10px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	.menu a {
		//color: #FFFFFF;
		//color: #2A2A2A;
	}
}

.menu-nav ul {
	display: flex; 
	flex-wrap: wrap;
}

.menu-nav a {
	font-size: 21px;
	display: block;
  padding: 10px;
  margin: 0 10px;
	font-family: $Montserrat;
	color: $Font-03;
	
	cursor: pointer;

	@include responsive-notebook(){
		font-size: 20px;
	}	
}

// .a-link-menu::after {
// 	content: '';
// 	display: block;
// 	width: 0;
// 	height: 3px;
// 	background: $Font-02;
// 	//background: $Font-01;

// 	transition: width .3s;
// 	margin-top: 5px;
// }

// .a-link-menu:hover::after {
// 	width: 100%;
// 	transform: width .3s;
// }

.openMenu, .closeMenu  {
	font-size: 2rem;
	margin: 20px;
	display: none;
	cursor: pointer;
	color: $Font-03;
}


@include responsive-tablet-large(){
	.menu .mainMenu  {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1000;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #EDEDED;
		transition: top 1s ease;
		display: none;
	}

	.menu .mainMenu .closeMenu {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.menu .openMenu {
		display: block;
	}

	.menu a {
		color: $Font-01;
	}

	.closeMenu {
		color: $Font-01;
	}

	.openMenu {
		position: absolute;
		top: 20px;
		right: 20px;
	} 

	.menu-bg-scroll .a-link-menu::after {
		background: #6D3DBA;
	}
}