.menu-bg {
	background: $Bg-home;
	transition: .5s;
	width: 100%;
	padding: 5px 0;
	// position: fixed;
	z-index: 1000;
}

.menu-logo img{
	width: 79px;
	height: 105px;
}	

@include responsive-notebook(){
	.menu-logo img {
		width: 59px;
    height: 75px;
	}	
}

.menu {
	margin: 0 auto;
	padding: 10px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.menu-nav ul {
	display: flex; 
	flex-wrap: wrap;
}

.menu-nav a {
	font-size: 21px;
	display: block;
  padding: 10px;
  margin: 0 10px;
	font-family: $Montserrat;
	color: $Font-03;
	
	cursor: pointer;

	@include responsive-notebook(){
		font-size: 20px;
	}	
}

.openMenu, .closeMenu  {
	font-size: 2rem;
	margin: 20px;
	display: none;
	cursor: pointer;
	color: $Font-03;
}


@include responsive-tablet-large(){
	.menu .mainMenu  {
		width: 70%;
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1000;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-top: $gap-5;
		background: $Font-03;
		transition: right 1s ease;
		display: none;
	}

	.menu .mainMenu .closeMenu {
		display: block;
		position: absolute;
		top: 20px;
		left: 0px;
	}

	.menu .openMenu {
		display: block;
	}

	.menu a {
		color: $Font-02;
		font-family: $Lato;
		font-size: 28px;
		padding-bottom: $gap-3;
	}

	.closeMenu {
		color: $Font-02;
	}

	.openMenu {
		position: absolute;
		top: 20px;
		right: 20px;
	} 

	.menu-bg-scroll .a-link-menu::after {
		background: #6D3DBA;
	}
}